      <nav>
        <a href="/">Amsterdam</a>
        <a href="/">Rotterdam</a>
        <a href="/">Den Haag</a>
        <a href="/">Utrecht</a>
        <a href="/s-Hertogenbosch">'s-Hertogenbosch</a>
      </nav>