<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Coding the Curbs - Dashboard</title>
    <link rel="stylesheet" href="/assets/styles/stylesheet.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/assets/scripts/script.js" defer></script>
  </head>

  <body>
    <header>
      <a href="/" class="logo">
        <img src="/assets/images/purple-logo.svg" alt="Coding the Curbs home">
      </a>

      <button class="menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </button>

      <nav class="menu-nav">
      {%- for city in cities %}
        <a href="/{{ city.city }}">{{ city.city }}</a>
      {%- endfor %}
      </nav>
    </header>
