      <nav class="menu-nav">
        <a href="/Amsterdam">Amsterdam</a>
        <a href="/Rotterdam">Rotterdam</a>
        <a href="/Den-Haag">Den Haag</a>
        <a href="/Utrecht">Utrecht</a>
        <a href="/s-Hertogenbosch">'s-Hertogenbosch</a>
      </nav>