{% include 'partials/head.liquid' %}
{% include 'partials/nav.liquid' %}
      <section>
        Stadnaam Kaart (eventueel) Blokjes met data (dashboard)
        <a href="/Amsterdam/wibautstraat">Quickscans</a>
      </section>
{% include 'partials/quickscan.liquid' %}
{% include 'partials/foot.liquid' %}
