{% include 'partials/head.liquid' %}
{% include 'partials/nav.liquid' %}      
      <section>
        Stad
        Straat
        Afbeelding
        Coordinaten

        extra info
      </section>
{% include 'partials/quickscan.liquid' %}
{% include 'partials/foot.liquid' %}