{% include 'partials/head.liquid' %}
<main>
  <form class="quickscan-form">
    <label for="foto">Foto</label>
    <input type="file" id="foto">

    <label for="status">Status</label>
    <select id="status">
      <option value="">--Kies een optie--</option>
      <option value="vrij">Vrij</option>
      <option value="bezet">Bezet</option>
      <option value="overtreding">Overtreding</option>
      <option value="bestaat niet">Bestaat niet</option>
    </select>

    <label for="comment">Opmerkingen</label>
    <textarea id="comment" rows="5"></textarea>

    <label for="length">Lengte (cm)</label>
    <input type="text" id="length">

    <label for="traffic-sign">Verkeersbord</label>
    <input type="text" id="traffing-sign">

    <fieldset class="monitoring-fieldset">
      <legend>Geschiktheid monitoring</legend>
      <div>
        <label>Geschikt<input type="radio" name="monitoring"></label>
      </div>
      <div>
        <label>Neutraal<input type="radio" name="monitoring"></label>
      </div>
      <div>
        <label>Ongeschikt<input type="radio" name="monitoring"></label>
      </div>
    </fieldset>

    <fieldset class="smartzone-fieldset">
      <legend>Geschiktheid smartzone</legend>
      <div>
        <label>Geschikt<input type="radio" name="smartzone"></label>
      </div>
      <div>
        <label>Neutraal<input type="radio" name="smartzone"></label>
      </div>
      <div>
        <label>Ongeschikt<input type="radio" name="smartzone"></label>
      </div>
    </fieldset>

    <label for="time">Tijd</label>
    <input type="time" id="time">

    <label for="city">Stad</label>
    <input type="text" id="city">

    <label for="adress">Adres</label>
    <input type="text" id="adress">

    <fieldset class="coordinates-fieldset">
      <legend>Coördinaten</legend>

      <label for="longitude"
        >Lengtegraad:
        <input type="number">
      </label>

      <label for="latitude"
        >Breedtegraad:
        <input type="number">
      </label>
    </fieldset>

    <input class="submit-button" type="submit">
  </form>
</main>
{% include 'partials/foot.liquid' %}
