{% include 'partials/head.liquid' %}
{% include 'partials/nav.liquid' %}      
      <section>
        Stad
        Adres
        Coordinaten
        Foto
        Opmerkingen
        Tijd
        Lengte
        Verkeersbord
        Status
        Monitoring suitability
        Smartzone suitability
      </section>
    </main>
{% include 'partials/foot.liquid' %}