{% include 'partials/head.liquid' %}
{% include 'partials/nav.liquid' %}
      <section>
        Overzicht van steden
      </section>
{% include 'partials/quickscan.liquid' %}
{% include 'partials/foot.liquid' %}