* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --accent-color: #555ba3;
  --accent-dark: color-mix(in oklab, var(--accent-color), #000 35%);

  --status-violation: #c62828;
  --status-occupied: #e65100;
  --status-available: #2e7d32;
  --status-invalid: #616161;

  --text-dark-primary: oklch(5% 0 0);
  --text-dark-secondary: oklch(25% 0 0);
  --text-light-primary: oklch(95% 0 0);

  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;

  --shadow-primary:
    inset 0 1px 2px oklch(100% 0 0 / 18.82%), 0 2px 4px oklch(0 0 0 / 18.82%),
    0 4px 8px oklch(0 0 0 / 8.24%);
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

html {
  container-type: scroll-state;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  min-height: 100%;
}

.home-main {
  max-width: 1000px;

  @media (min-width: 1000px) {
    margin: 0 auto;
  }
}

.city-main {
  max-width: 1000px;
  padding-top: 1rem;

  @media (min-width: 1000px) {
    margin: 0 auto;
  }

  .back {
    padding-left: 1rem;
  }
}

.detail-main {
  max-width: 700px;

  @media (min-width: 700px) {
    margin: 0 auto;
  }
}

.back {
  color: var(--accent-color);
  font-weight: bold;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

[data-status="bezet"] {
  background-color: var(--status-occupied);
}

[data-status="bestaat niet"] {
  background-color: var(--status-invalid);
}

[data-status="vrij"] {
  background-color: var(--status-available);
}

[data-status="overtreding"] {
  background-color: var(--status-violation);
}
