header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);

  img {
    width: 150px;
  }

  .menu {
    aspect-ratio: 1;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-evenly;
    margin-left: auto;

    div {
      background-color: var(--accent-color);
      border-radius: 9rem;
      height: 12.5%;
      width: 100%;
    }
  }

  .menu-nav {
    display: flex;
    position: absolute;
    top: 0;
    flex-grow: 1;
    flex-direction: column;
    transform: translateX(120%);

    a {
      color: var(--accent-color);
      font-size: var(--font-size-l);
      padding: 1rem;
      font-weight: bold;
    }
  }
}

.dashboard {
  padding: 1rem;

  h1 {
    color: var(--accent-dark);
    font-size: var(--font-size-l);
    padding-bottom: 1rem;
  }

  .dashboard-boxes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .dashboard-box {
      border-left: 5px solid var(--accent-color);
      border-radius: 0.5rem;
      box-shadow: var(--shadow-primary);
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-m);
      padding: 1rem;
      width: 100%;

      .dashboard-box-heading {
        color: var(--accent-color);
        font-size: 1rem;
        text-transform: uppercase;
      }

      .dashboard-box-value {
        color: var(--accent-dark);
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}

.quickscans {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;

  .quickscans-heading {
    color: var(--accent-dark);
    font-size: var(--font-size-m);
    width: 100%;
  }

  article {
    border-radius: 0.25rem;
    box-shadow: var(--shadow-primary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 0.25rem;
    width: 130px;

    .quickscan-img {
      width: 100%;
    }

    .quickscan-heading {
      font-size: 1rem;
      padding: 0.25rem;

      a {
        color: var(--accent-color);
      }
    }

    .quickscan-status {
      color: var(--accent-color);
      font-size: var(--font-size-xs);
      padding: 0 0.25rem;
    }
  }
}

.city-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  .city-heading {
    color: var(--accent-dark);
    font-size: var(--font-size-m);
  }

  a {
    border: 0.125rem solid var(--accent-color);
    border-radius: 1rem;
    color: var(--accent-color);
    font-size: var(--font-size-s);
    padding: 1rem;
  }
}

.detail-main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quickscan-detail-card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--shadow-primary);
  background-color: var(--accent-color);

  img {
    width: 100%;
  }

  h1 {
    color: var(--text-light-primary);
    padding: 0.5rem 0.5rem 0 1rem;
    font-size: var(--font-size-l);
  }

  p {
    color: var(--text-light-primary);
    padding: 0.5rem 0.5rem 1rem 1rem;
    font-size: var(--font-size-m);
  }
}

.quickscan-table {
  box-shadow: var(--shadow-primary);
  width: 100%;
  border-radius: 1rem;
  border-collapse: collapse;

  .table-heading {
    color: var(--text-dark-secondary);
  }

  .table-detail {
    font-weight: bold;
    text-align: end;
    color: var(--text-dark-primary);

    .status-highlight {
      color: #fff;
      background-color: var(--status-available);
      padding: 0.25rem;
      border-radius: 0.25rem;
    }
  }

  .table-heading,
  .table-detail {
    border-bottom: 1px solid gray;
    padding: 0.75rem;
  }

  .table-row:last-child {
    .table-heading,
    .table-detail {
      border-bottom: none;
    }
  }
}

.back {
  color: var(--accent-color);
  font-weight: bold;
}

.quickscan-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  label,
  legend {
    padding-top: 1rem;
    font-size: var(--font-size-m);
    border: none;
    color: var(--accent-dark);
    font-weight: bold;
  }

  select,
  input,
  textarea {
    border: 2px solid var(--accent-color);
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: var(--font-size-s);
    width: 100%;
  }

  fieldset {
    border: 0;

    label {
      font-size: var(--font-size-s);
      font-weight: 400;
      color: #000;
    }
  }

  .monitoring-fieldset,
  .smartzone-fieldset {
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        width: fit-content;
        margin-right: 5rem;
        width: 1rem;
        aspect-ratio: 1;
      }
    }
  }

  .coordinates-fieldset {
    label {
      font-size: var(--font-size-s);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.25rem;
      padding-top: 0;
    }

    label:last-child {
      padding-top: 0.25rem;
    }
  }

  .submit-button {
    margin-top: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 9rem;
    font-size: var(--font-size-m);
    padding: 0.5rem;
  }
}

footer {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px -3px 15px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: sticky;

  a {
    background-color: var(--accent-color);
    border-radius: 9rem;
    color: #fff;
    display: flex;
    flex-grow: 1;
    font-size: var(--font-size-m);
    justify-content: center;
    padding: 1rem;
  }
}
