header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  img {
    width: 150px;
  }

  .menu {
    aspect-ratio: 1;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-evenly;
    margin-left: auto;

    div {
      background-color: var(--accent-color);
      border-radius: 9rem;
      height: 12.5%;
      width: 100%;
    }
  }

  .menu-nav {
    display: display;
    display: flex;
    display: none;
    flex-direction: column;

    a {
      color: var(--accent-color);
      font-size: var(--font-size-l);
      padding: 1rem;
    }
  }
}

.dashboard {
  padding: 1rem;

  h1 {
    color: var(--accent-dark);
    font-size: var(--font-size-l);
    padding-bottom: 1rem;
  }

  .dashboard-boxes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .dashboard-box {
      border-left: 5px solid var(--accent-color);
      border-radius: 0.5rem;
      box-shadow: var(--shadow-primary);
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-m);
      padding: 1rem;
      width: 100%;

      .dashboard-box-heading {
        color: var(--accent-color);
        font-size: 1rem;
        text-transform: uppercase;
      }

      .dashboard-box-value {
        color: var(--accent-dark);
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}
.quickscans {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;

  .quickscans-heading {
    color: var(--accent-dark);
    font-size: var(--font-size-m);
    width: 100%;
  }

  article {
    border-radius: 0.25rem;
    box-shadow: var(--shadow-primary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 0.25rem;
    width: 130px;

    .quickscan-img {
      width: 100%;
    }

    .quickscan-heading {
      font-size: 1rem;
      padding: 0.25rem;

      a {
        color: var(--accent-color);
      }
    }

    .quickscan-status {
      color: var(--accent-color);
      font-size: var(--font-size-xs);
      padding: 0 0.25rem;
    }
  }
}
.city-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  .city-heading {
    color: var(--accent-dark);
    font-size: var(--font-size-m);
  }

  a {
    border: 0.125rem solid var(--accent-color);
    border-radius: 1rem;
    color: var(--accent-color);
    font-size: var(--font-size-s);
    padding: 1rem;
  }
}

footer {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px -3px 15px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: sticky;

  a {
    background-color: var(--accent-color);
    border-radius: 9rem;
    color: #fff;
    display: flex;
    flex-grow: 1;
    font-size: var(--font-size-m);
    justify-content: center;
    padding: 1rem;
  }
}
