* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --accent-color: #555ba3;
  --accent-dark: color-mix(in oklab, var(--accent-color), #000 35%);

  --status-violation: #c62828;
  --status-occupied: #e65100;
  --status-available: #2e7d32;
  --status-invalid: #616161;

  --text-dark-primary: oklch(5% 0 0);
  --text-dark-secondary: oklch(25% 0 0);
  --text-light-primary: oklch(95% 0 0);
  --text-light-secondary: oklch(75% 0 0);

  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;

  --shadow-primary:
    inset 0 1px 2px oklch(100% 0 0 / 18.82%), 0 2px 4px oklch(0 0 0 / 18.82%),
    0 4px 8px oklch(0 0 0 / 8.24%);
}

html {
  container-type: scroll-state;
}

body {
  /* max-width: 300px; */
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}
