header {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  translate: 0 0;
  transition: translate 0.3s ease-out;

  @container scroll-state(scrolled: bottom) {
    translate: 0 -100%;
  }

  img {
    width: 150px;
  }

  .menu {
    aspect-ratio: 1;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-evenly;
    margin-left: auto;
    z-index: 10;
    cursor: pointer;

    div {
      background-color: var(--accent-color);
      border-radius: 9rem;
      height: 12.5%;
      width: 100%;
      transition: 0.3s ease-in-out;
    }
  }

  .menu-nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-grow: 1;
    flex-direction: column;
    transform: translateX(100%);
    padding-top: 82.4px;
    background-color: var(--accent-color);
    z-index: -1;
    transition: 0.3s ease-out;
    border-bottom-left-radius: 1rem;

    a {
      color: #fff;
      background-color: var(--accent-color);
      font-size: var(--font-size-l);
      padding: 1rem;
      font-weight: bold;

      &:hover {
        color: var(--accent-color);
        background-color: #fff;
      }
    }
  }
}

.menu-nav.clicked {
  opacity: 1;
  transform: translateX(0%);

  a:last-of-type {
    border-bottom-left-radius: 1rem;
  }
}

.menu.clicked {
  div {
    background-color: #fff;
  }

  .line1 {
    transform: rotate(45deg) translateX(10px) translateY(9px);
  }

  .line2 {
    opacity: 0;
    transform: scale(0);
  }

  .line3 {
    transform: rotate(-45deg) translateX(10px) translateY(-9px);
  }
}

.dashboard {
  padding: 1rem;

  h1 {
    color: var(--accent-dark);
    font-size: var(--font-size-l);
    padding-bottom: 1rem;
  }

  .dashboard-boxes {
    display: grid;
    gap: 0.5rem;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .dashboard-box {
      border-left: 5px solid var(--accent-color);
      border-radius: 0.5rem;
      box-shadow: var(--shadow-primary);
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-m);
      padding: 1rem;
      width: 100%;

      @media (min-width: 1000px) {
        height: 150px;
        justify-content: center;
        gap: 1rem;
      }

      .dashboard-box-heading {
        color: var(--accent-color);
        font-size: 1rem;
        text-transform: uppercase;
      }

      .dashboard-box-value {
        color: var(--accent-dark);
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}

.quickscans {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;

  .quickscans-heading {
    color: var(--accent-dark);
    font-size: var(--font-size-m);
    width: 100%;
  }

  article {
    border-radius: 0.25rem;
    box-shadow: var(--shadow-primary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 0.25rem;
    width: 130px;
    position: relative;

    .quickscan-img {
      width: 100%;
      aspect-ratio: 1.5 / 1;
      object-fit: cover;
    }

    .quickscan-heading {
      font-size: 1rem;
      padding: 0.25rem;
      margin-top: auto;

      a {
        color: var(--accent-color);
        word-break: break-word;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }
    }

    .quickscan-status {
      color: var(--accent-color);
      font-size: var(--font-size-xs);
      padding: 0 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      span {
        background-color: black;
        display: block;
        width: 0.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
      }
    }
  }
}

.city-nav {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .city-heading {
    color: var(--accent-dark);
    font-size: var(--font-size-m);

    @media (min-width: 700px) {
      grid-column: 1 / 3;
    }

    @media (min-width: 1000px) {
      grid-column: 1 / 4;
    }
  }

  a {
    border: 0.125rem solid var(--accent-color);
    border-radius: 1rem;
    color: var(--accent-color);
    font-size: var(--font-size-s);
    padding: 1rem;
  }
}

.detail-main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quickscan-detail-card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--shadow-primary);
  background-color: var(--accent-color);

  img {
    width: 100%;
  }

  h1 {
    color: var(--text-light-primary);
    padding: 0.5rem 0.5rem 0 1rem;
    font-size: var(--font-size-l);
  }

  p {
    color: var(--text-light-primary);
    padding: 0.5rem 0.5rem 1rem 1rem;
    font-size: var(--font-size-m);
  }
}

.quickscan-table {
  box-shadow: var(--shadow-primary);
  width: 100%;
  border-radius: 1rem;
  border-collapse: collapse;

  th {
    color: var(--text-dark-secondary);
    font-weight: 400;
    text-align: start;
  }

  td {
    font-weight: bold;
    text-align: end;
    color: var(--text-dark-primary);

    &::first-letter {
      text-transform: uppercase;
    }

    .status-highlight {
      color: #fff;
      padding: 0.25rem;
      border-radius: 0.25rem;
    }
  }

  th,
  td {
    border-bottom: 1px solid gray;
    padding: 0.75rem;
  }

  tr:last-child {
    th,
    td {
      border-bottom: none;
    }
  }

  .delete-button {
    background-color: var(--status-violation);
    color: #fff;
    padding: 0.25rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
  }
}

.back {
  color: var(--accent-color);
  font-weight: bold;
}

.home-main {
  max-width: 1000px;

  @media (min-width: 1000px) {
    margin: 0 auto;
  }
}

.city-main {
  max-width: 1000px;
  padding-top: 1rem;

  @media (min-width: 1000px) {
    margin: 0 auto;
  }

  .back {
    padding-left: 1rem;
  }
}

.detail-main {
  max-width: 700px;

  @media (min-width: 700px) {
    margin: 0 auto;
  }
}

.quickscan-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: fit-content;
  margin: 0 auto;

  label,
  legend {
    padding-top: 1rem;
    font-size: var(--font-size-m);
    border: none;
    color: var(--accent-dark);
    font-weight: bold;
  }

  select,
  input,
  textarea {
    border: 2px solid var(--accent-color);
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: var(--font-size-s);
    width: 100%;
  }

  fieldset {
    border: 0;

    label {
      font-size: var(--font-size-s);
      font-weight: 400;
      color: #000;
    }
  }

  .monitoring-fieldset,
  .smartzone-fieldset {
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        width: fit-content;
        margin-right: 5rem;
        width: 1rem;
        aspect-ratio: 1;
      }
    }
  }

  .coordinates-fieldset {
    label {
      font-size: var(--font-size-s);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.25rem;
      padding-top: 0;
    }

    label:last-child {
      padding-top: 0.25rem;
    }
  }

  .submit-button {
    margin-top: 1rem;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 9rem;
    font-size: var(--font-size-m);
    padding: 0.5rem;
    cursor: pointer;
  }

  .loading {
    background-color: #fff;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }

  .success {
    background-color: var(--status-available);
    color: #fff;
    border: none;
  }
}

footer {
  background-color: #fff;
  box-shadow: 0px -3px 15px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  position: sticky;
  margin-top: auto;

  a {
    background-color: var(--accent-color);
    border-radius: 9rem;
    color: #fff;
    display: flex;
    flex-grow: 1;
    font-size: var(--font-size-m);
    justify-content: center;
    padding: 1rem;

    @media (min-width: 700px) {
      margin: 0 auto;
      max-width: 700px;
    }
  }
}
